* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #FDC27C;
  }
  
  .app-background{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 360px;
    height: 640px;
    margin-left: -180px;
    margin-top: -320px;
  }

  .app-top-menu {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px;
  }

  .undo {
      width: 25px;
      height: 20px;
  }

  button {
    border-radius: 5px;
    cursor: pointer;
    background-color: #FDC27C;
    color: white;
    padding: 10px 20px;
    border: 0;
    outline: 0;
  }

  .signup-title {
      font-style: normal;
      font-weight: bold;
      font-size: 1.8rem;
      /* line-height: 3; */
      color: #FDC27C;
      text-align: center;
      padding-bottom: 30px;
  }

  .signup-input-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .signup-input-box {
      width: 250px;
      text-align: center;
  }

  .signup-input-box > div {
    /* text-align: center; */
    /* display: flex; */
    justify-content: center;
    padding-bottom: 7px;
    align-items: center;
  }  

  .signup-input-box > div > input {
    width: 100%;
    height: 40px;
  }

  .signup-input-box > button{
      padding: 3px;
      margin-bottom: 14px;
  }

  .signup-input-box > label {
    display:inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.5rem;
    text-align: center;
    color: gray;
  }

  .signup-email-check-button {
    float: right;
    width: 70px;
    height: 30px;
  }

  .signup-submit-button {
    font-size: 1.3rem;
    text-align: center;
    display: inline-block;
    margin: 20px;
    width: 200px;
    height: 50px;
  }
